/* Navbar Styling */
.navbar {
    background-color: #00246B;
    padding: 0.75rem 1.5rem;
}

.navbar .navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1rem;
    margin-left: 15px;
}

.navbar .nav-link:hover {
    color: #8AB6F9;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Footer Styling */
footer {
    background-color: #00246B;
    color: #fff;
    padding: 40px 0;
}

footer a {
    color: #8AB6F9;
    text-decoration: none;
}

footer a:hover {
    color: #CADCFC;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    font-size: 1.25rem;
    margin: 0 15px;
}

footer .social-links a:hover {
    color: #fff;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
