/* Custom Colors */
:root {
    --primary-color: #8AB6F9;
    --secondary-color: #CADCFC;
    --dark-color: #00246B;
}

/* Background */
body {
    background: var(--secondary-color);
}

/* Card */
.card {
    border: none;
    background: var(--primary-color);
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Button */
.btn-primary {
    background-color: var(--dark-color);
    border: none;
}

.btn-primary:hover {
    background-color: #001d57;
}

/* Link */
a {
    color: var(--dark-color);
}

a:hover {
    text-decoration: underline;
}
