/* Warna utama */
:root {
    --primary-color: #CADCFC;
    --secondary-color: #8AB6F9;
    --accent-color: #00246B;
    --text-color: #333;
    --background-color: #f9f9f9;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Card styling */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--accent-color);
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}
